
@{
    ViewBag.Title = "Изменение учётных данных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    
    
    <form role="form" method="post">

        <div class="col-md-4"> 
            
            <label for="country">Страна</label>
            @Html.DropDownList("Country", ViewBag.States as SelectList, new { id = "country", @class = "form-control" })
            
            <div id="f">
                <label for="region">Регион</label>
                @Html.DropDownList("Region", ViewBag.Regions as SelectList, new { id = "region", @class = "form-control", })
            </div>
            <label for="city">Город</label>
            @Html.DropDownList("City", ViewBag.Cities as SelectList, new { id = "city", @class = "form-control" })

            @section scripts{
            <script type="text/javascript">

                $('#country').on('change', (function()
                {
                // получаем выбранный id
                var id = $(this).val();
                $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItemsRegions")/' + id,
                success: function (data) {
                // заменяем содержимое присланным частичным представлением
                    
                    $('#region').replaceWith(data);
                    var objSel = document.getElementById('region');
                    var id = objSel.options[0].value;
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetItemsCities")/' + id,
                        success: function (data) {
                            // заменяем содержимое присланным частичным представлением
                            $('#city').replaceWith(data);
                        }
                    });
                }
                });}));
                $('#f').on('change', (function () {
                    // получаем выбранный id
                var objSel = document.getElementById('region');
                var id = objSel.options[objSel.selectedIndex].value;
                $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItemsCities")/' + id,
                success: function (data) {
                $('#city').replaceWith(data);
                }
                });
                }));
                </script>
            }

            <div class="form-group">
                <label for="InputAddress">Адрес</label>
                <input type="text" name="Address" class="form-control" id="InputAddress" value=@ViewBag.User.Address>
            </div>
            <button type="submit" class="btn btn-default">Отправить</button>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="InputSurName">Фамилия</label>
                <input type="text" name="SurName" class="form-control" id="InputSurName" value=@ViewBag.User.SurName>
            </div>
            <div class="form-group">
                <label for="InputName">Имя</label>
                <input type="text" name="Name" class="form-control" id="InputName" value=@ViewBag.User.Name>
            </div>
            <div class="form-group">
                <label for="InputMiddleName">Отчество</label>
                <input type="text" name="MiddleName" class="form-control" id="InputMiddleName" value=@ViewBag.User.MiddleName>
            </div>
            <div class="form-group">
                <label for="InputNumberAndSeriesOfPassport">Серия и номер паспорта</label>
                <input type="text" name="NumberAndSeriesOfPassport" class="form-control" id="InputNumberAndSeriesOfPassport" value=@ViewBag.User.NumberAndSeriesOfPassport>
            </div>

        </div>

        <div class="col-md-4">
            
            <div class="form-group">
                <label for="InputDateOfBirth">Дата рождения</label>
                <input type="text" name="DateOfBirth" class="form-control" id="InputDateOfBirth" value=@ViewBag.User.DateOfBirth>
            </div>


            <div class="form-group">
                <label for="InputSocialStatus">Социальный статус</label>
                <input type="text" name="SocialStatus" class="form-control" id="InputSocialStatus" value=@ViewBag.User.SocialStatus>
            </div>
            <div class="form-group">
                <label for="InputPlaceOfWork">Место работы(учёбы)</label>
                <input type="text" name="PlaceOfWork" class="form-control" id="InputPlaceOfWork" value=@ViewBag.User.PlaceOfWork>
            </div>
            
            <div class="form-group">
                <label for="InputTheContactPhoneNumber">Контактный телефон</label>
                <input type="text" name="TheContactPhoneNumber" class="form-control" id="InputTheContactPhoneNumber" value=@ViewBag.User.TheContactPhoneNumber>
            </div>
            <label for="InputGender">Выберите пол</label>
            <select class="form-control" name="Gender" id="InputGender">
                <option></option>
                <option>Мужской</option>
                <option>Женский</option>
            </select>
        </div>
    </form>
    
</div>
